@import "../node_modules/font-awesome/css/font-awesome.min.css";

body{
    margin: 0;
    padding: 0;
}

.AppBar{
background: #28343b;
background: -moz-linear-gradient(45deg, #28343b 0%, #28343b 0%, #828c95 36%, #b5bdc8 99%);
background: -webkit-linear-gradient(45deg, #28343b 0%,#28343b 0%,#828c95 36%,#b5bdc8 99%);
background: linear-gradient(45deg, #28343b 0%,#28343b 0%,#828c95 36%,#b5bdc8 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=1 );

}